@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Noto+Sans:wght@500;600&display=swap');

:root{
    --color-pink: rgb(241, 195, 220);
    --color-light-pink: rgb(255, 231, 244);
    --color-brown: rgb(115, 55, 55);
    --color-white: rgb(255, 247, 239);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all .2s linear;
}

body{
    background: var(--color-pink);
    font-family: 'Noto Sans', sans-serif;

}

html{
    font-size: 14px;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}
section{
    padding: 1.5rem .5rem;
}

.h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    font-family: 'Courgette', cursive;
    font-size: 2.5rem;
    color: var(--color-brown);   
}

.title{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-brown);
    margin: .5rem 0;
}

/* HEADER */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    align-items: center;
    background-color: var(--color-pink);
    z-index: 9999;
    
}


.header .logo{
   display: flex;
   justify-content: center;
}

.header .logo img{
    height: 150px;
    margin: -.6rem;
}

.header .nav{
    max-width: 700px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header .nav a{
    width: 140px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: .7rem 0;
    color: var(--color-brown);
    background: var(--color-light-pink);
    border: 2px solid var(--color-brown);
    border-radius: .2rem;
}

.header .nav a:hover{
   background: var(--color-brown);
   color: var(--color-light-pink);
}

.header #menu-btn{
    display: none;
}

.scroll-logo{
  display: none;
}
.scroll-header{
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

/* HOME */

.home{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.home .carousel{
    overflow: hidden;
    display: flex;
    align-items: center;
    width:60rem;
    margin:15rem 0 4rem 0;
    border: 5px solid var(--color-white);
}

.home .container{
    display: flex;
    transition: transform 0.5 linear;
    transform: translateX(0);
  }

.home .container img{
    width: 100%;
}

/* PRODUCTS */

.products{
    padding: 1rem;
    background: var(--color-white);
}

.products .box-container{
    max-width: 65rem;
    width: 100%;
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr)); 
    margin: auto;
    gap: 40px; 
    padding: 5px 5% 20px;
    
}

.products .box-container .box{
    padding: 15px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    background: #fff;
    border: 1px solid gray;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
   
}


.products .box-container .box .img{
    overflow: hidden;
    border-radius: 8px;
}

.products .box-container .box .img img{
    width: 100%;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
    transition: all .1s linear;
   
}

.products .box-container .box .img img:hover{
   transform: scale(1.1);
}

.products .box-container .box span{
    display: block;
}

.products .box-container .box .title{
    font-size: 1.3rem;
}

.products .box-container .box .price{
   font-size: 1.2rem;
}


/* ABOUT */

.about{
   
}

.about .container{
    max-width: 850px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    margin:2.2rem auto auto auto;
    padding: 2rem 4rem;
    border: 2px solid var(--color-brown);
    border-radius: .8rem;
}

.about .container .img {
    width: 190px
}

.about .container .img img{
    height: 160px;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.429);
}

.about .container .img img:not(:first-child){
    margin: -2rem 0 0 10rem;
}

.about .container .text{
    width: 350px;
}

.about .container .text p{
   font-size: 1.3rem;
   font-weight: 600;
   color: var(--color-brown);
   text-align: center;
}








@media(max-width:825px){
    .about .container{
        display: flex;
        flex-direction: column;
        width: 500px;
    }

    .about .container .img {
        margin: 0 0 1.5rem -10rem;
        width: 160px
    }
    
    .about .container .img img{
        height: 130px;
    }

    .about .container .text{
        width: 100%;
    }
}


@media(max-width: 640px){

    .header{
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.256);
    }

    .header .nav{
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: var(--color-pink);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .nav.active{
        clip-path: polygon(0 0, 100% 0,100% 100%, 0 100%);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.753);
    }
    
    .header .nav a{
        margin-top: 1rem;
        width: 100%;
      
    
    }

    .header .nav-btn{
        position: absolute;
        top: 20%;
        left: .01rem;
        padding: 1.5rem .9rem;
    }

    .header #menu-btn{
        display: initial;
        color: var(--color-brown);
        font-size: 1.8rem;
        padding: .5rem;
        border: 1px solid var(--color-brown);
        border-radius: .2rem;
        
      
    }

    .scroll-btn{
        width: 100%;
        background: var(--color-pink);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.256);
        
    }

    .scroll-padding-bottom{
        margin-top: 3.8rem;
    }
    
    .home .carousel{
       margin-top: 10rem;
    }

    .products .box-container{
        width: 100%;
        
    }
   

}

@media(max-width: 540px){

    .h2{
        font-size: 2.4rem;
    }

    .header .logo img{
        height: 120px;
    }

    .about .container{
        width: 400px;
        padding: 2rem 1rem;
    }

  
}

@media(max-width: 490px){

    .products .box-container{
        padding: 5px 15% 20px;
        
    }

    .about .container{
        width: 90%;
    }


    .about .container .img {
        margin-left: -8rem;
    }
    

    .about .container .img img{
        height: 115px;
    }

    .about .container .img img:not(:first-child){
        margin: -3.3rem 0 0 8rem;
    }

    .about .container .text p {
        font-size: 1.15rem;
    }
    
  
}









