
:root{
    --color-pink: rgb(241, 195, 220);
    --color-light-pink: rgb(242, 225, 234);
    --color-brown: rgb(115, 55, 55);
    --color-white: rgb(255, 247, 239);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all .2s linear;
}

body{
    background: var(--color-pink);
    font-family: Arial, Helvetica, sans-serif;
}

html{
    font-size: 14px;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}
section{
    padding: 1.5rem .5rem;
}

.h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    font-size: 2rem;
    color: var(--color-brown);
}

.title{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-brown);
    margin: .5rem 0;
}



.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-pink);
    z-index: 9999;
    
}


.header .logo{
   display: flex;
   justify-content: center;
}

.header .logo img{
    height: 150px;
    margin: -.6rem;
}

.header .nav{
    max-width: 700px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header .nav a{
    width: 140px;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: .7rem 0;
    color: var(--color-brown);
    background: var(--color-light-pink);
    border: 2px solid var(--color-brown);
}

.header .nav a:hover{
   background: var(--color-brown);
   color: var(--color-pink);
}

.header #menu-btn{
    display: none;
}

.scroll-logo{
  display: none;
}
.scroll-header{
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.home .carousel{
    overflow: hidden;
    display: flex;
    align-items: center;
    width:50rem;
    margin:15rem 0 4rem 0;
    border: 5px solid var(--color-white);
}

.home .container{
    display: flex;
    transition: transform 0.5 ease-in-out;
    transform: translateX(0);
  }

.home .container img{
    width: 100%;
}

.products{
    padding: 1rem;
    background: var(--color-white);
}

.products .box-container{
    max-width: 1000px;
    width: 100%;
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    margin: auto;
    gap: 20px; 
    padding: 30px 9% 20px;
    
}

.products .box-container .box{
    border-radius: 10px;
    background: #fff;
    border: 1px solid gray;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    padding: 15px;
    cursor: pointer;
    text-align: center;
   
}


.products .box-container .box .img{
    overflow: hidden;
    border-radius: 8px;
}

.products .box-container .box .img img{
    width: 100%;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
    transition: all .1s linear;
   
}

.products .box-container .box .img img:hover{
   transform: scale(1.1);
}

.products .box-container .box span{
    display: block;
}

.products .box-container .box .title{
    
}














@media(max-width: 640px){

    .header .nav{
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      padding-top: 4rem;
      background-color: var(--color-pink);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .nav.active{
        clip-path: polygon(0 0, 100% 0,100% 100%, 0 100%);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.753);
    }
    
    .header .nav a{
        margin-top: 1rem;
        width: 100%;
      
    
    }

    .header #menu-btn{
        display: initial;
        position: absolute;
        left: .1rem;
        top: 20%;
        padding: 1.5rem .9rem;
        font-size: 1.8rem;
      
    }

    .scroll-btn{
        width: 100%;
        background: var(--color-pink);
       border-bottom: 1px solid gray;
    }
    
    .home .carousel{
       margin-top: 10rem;
    }

    .products .box-container{
        width: 100%;
        
    }
   

}

@media(max-width: 540px){

    .header .logo img{
        height: 120px;
    }


    .header #menu-btn{
        font-size: 1.5rem;
      
    }

    .home .carousel{
        margin-top: 8rem;
     }

}




